* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 170px;
    margin-bottom: 150px;
}

.top-bg {
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

a,
p,
h3 {
    text-decoration: none;
    color: white;
}

.avatar {
    display: flex;
    flex-direction: column;
    width: 170px;
    gap: 10px;
    align-items: center;
    text-align: center;
}

li,
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 35px;
}

h1 {
    font-size: 125px;
    text-align: center;

}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;

}

h1,
.list,
header {
    color: white;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 150px;
}

.register {
    background-color: #C271FF;
    color: white;
    width: 162px;
    height: 44px;
    display: flex;
    margin: 0 auto;
    border: 0;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

b {
    color: #C271FF;

}

.register:hover {
    cursor: pointer;
}

.avatars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 100px;
    padding-bottom: 100px;
}

.quotes {
    background-color: #C271FF;
    padding: 100px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}